<div id="designContainer" >
	
	<main  [@fade]='start'>

		<h2>
			Web Design
		</h2>

		<div class="desc">
			<div  class="container card">
				<div  class="row imagen">
					<img class="center" alt="resposive design" src="../../../assets/img/services/responsive.svg">
				</div>
				<div  class="row title">
					<h2 class="center">Responsive Web Design</h2>
				</div>
				<div  class="row control">
					<div class="left">
						<button class="direccion"><span class="flechas"></span></button>
					</div>
					<div class="back" (click)='unReveal()'><h2>Back</h2></div>
					<div class="right">
						<button class="direccion"><span class="flechas"></span></button>
					</div>
				</div>
				
			</div>
		</div>

		<div class="desc">
			<div  class="container card">
				<div  class="row imagen">
					<img class="center" alt="resposive design" src="../../../assets/img/services/custom.jpg">
				</div>
				<div  class="row title">
					<h2 class="center">Fully Custom</h2>
				</div>
				<div  class="row control">
					<div class="left">
						<button class="direccion"><span class="flechas"></span></button>
					</div>
					<div class="back" (click)='unReveal()'><h2>Back</h2></div>
					<div class="right">
						<button class="direccion"><span class="flechas"></span></button>
					</div>
				</div>
				
			</div>
		</div>


	</main>

</div>