<div id="cardContainer">
	<h2>
		Web Design
	</h2>


	<div id="card" class="container">
		<div id="imagen" class="row">
			<img class="center" alt="resposive design" src="../../../assets/img/services/responsive.svg">
		</div>
		<div id="title" class="row">
			<h2 class="center">Responsive Web Design</h2>
		</div>
		<div id="control" class="row">
			<div id="left">
				<button class="direccion"><span class="flechas"></span></button>
			</div>
			<div id="back" (click)='unReveal()'><h2>Back</h2></div>
			<div id="right">
				<button class="direccion"><span class="flechas"></span></button>
			</div>
		</div>
	</div>			
</div>
