/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6,p{
	/*font-family: Raleway,sans-serif;*/
	font-family: 'Work Sans',sans-serif;
	font-weight: 100; 
}

button:focus{
	outline-color: transparent;
}
a:hover{
	text-decoration:none;
}

body {
	overflow-x: hidden;
}